<div class="bg-box">
    <div class="container">
        <div class="headings">
            <h3>Test your knowledge of the relevant!</h3>
            <h4>Choose your weapon:</h4>
        </div>
        <div class= "row">
            <div class="col-md-6 start-button-container">
                <a href="/starWars"><button class="start-button star-wars-start">Star Wars</button></a>
            </div>
            <div class="col-md-6 start-button-container">
                <a href="/geography"><button class="start-button geography-start">Geography</button></a>
            </div>
        </div>
    </div>
</div>